nav {
  overflow: hidden;
  background-color: black;
  position: relative;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
nav ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: x-large;
  flex-grow: 1;
}
nav ul li a {
  padding: 16px;
  color: white;
  list-style-type: none;
}
nav ul li:hover {
  background-color:#ffb000;
}
nav ul li a:hover {
  color: black;
}

nav input {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 2;
}
