<cpa-navbar></cpa-navbar>
<!-- ZONE BANDEAU -->
<div id="zone-bandeau">
  <div class="bloc_bandeau" style="transform: translateZ(0px) translateY(0rem)">
    <img
      src="../../../assets/Images/police-fingerprint.jpg"
      alt="Bandeau crime project"
      style="width: 100%"
    />
  </div>
  <div class="font" style="transform: translateZ(0px) translateY(0rem)">
    <h2>Crime project</h2>
  </div>
</div>

<!-- ZONE PAGE -->
<div id="zone-page">
  <main>
    <div class="zone1">
      <div class="container_1">
        <div class="bloc_droite">
          <img
            src="../../../assets/Images/Profils.png"
            alt="Photo de profil Thérèse et Corentin"
          />
        </div>
        <div class="bloc_gauche">
          <div class="text">
            <h2>About us</h2>
            <p>
              Hello ! For this project, our team is composed of Thérèse and
              Corentin. We are two French students in master 1 in Cybersecurity
              department and we created an app about crimes in the United
              Kingdom.
            </p>
            <p>
              Thérèse Fili is our back-end developper. Thanks to her, you can
              use without any problem the API used in this app. You will see
              that all of HTTP requests are correctly done !
            </p>
            <p>
              Corentin Ganzin is our front-end developper. Thanks to him, you can
              use this app with a good graphic interface.
            </p>
          </div>
        </div>
      </div>

      <div class="container_2">
        <div class="bloc_gauche">
          <img
            src="../../../assets/Images/api.jpg"
            alt="About our Project"
          />
        </div>
        <div class="bloc_droite">
          <div class="text">
            <h2>About our project</h2>
            <p>
              Our project is based on data of an API. Which one ?
              We use data of forces and crimes in United Kingdom.
              This probably doesn't mean anything to you, but you will
              see by surfing on our app that there is a part for all
              of forces in UK and some information about it. There is also
              a part for all crimes that happened in UK this year and which
              police force handled it.
            </p>
          </div>
        </div>
      </div>

      <div class="container_3">
        <div class="bloc_droite">
          <img
            src="../../../assets/Images/logo-leaflet.png"
            alt="Map"
          />
        </div>
        <div class="bloc_gauche">
          <div class="text">
            <h2 class="bloctitre soustitre_2" style="text-align: left">
              There is a map...
            </h2>
            <p>
              There is a surprise in this project, a map !
              In fact, in the last part of the app, you will
              see a map of the United Kingdom which is composed
              of the differents police forces. The color of each zone
              depends on the number of crimes. Light yellow  means a secure zone
              and a dark red means that there are lots of crimes in this zone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
