
* {
  font-family: 'Arial';
  box-sizing: border-box; /* Les tailles de conteneurs incluent bordures et remplissages*/
  margin: 0; /* Mise à 0 des marges externes*/
  padding: 0; /* Mise à 0 des marges internes*/
  text-decoration: none; /* Suppression de la mise en forme habituelle des liens (soulignement)*/
}

/*Style info de la map */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px
  ;opacity: 0.7;
}

body { margin: 0px }
p {font-family: Lato;}

/**/

html, body {height: 100%; margin: 0; padding: 0;}

button{
  font-size: 17px;
}

nav input {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  height: 35px;
  width: 100%;
  background-color: black;
  color: lightgrey;
  text-align:center;
  z-index: 2;
}

footer p {
  margin-top: 10px;
  font-size: large;
}
