<!-- ZONE BANDEAU -->
<div id="zone-bandeau">
  <div class="bloc_bandeau" style="transform: translateZ(0px) translateY(0rem)">
    <img
      src="../../../assets/Images/fond.jpg"
      alt="image test"
      title="Bandeau crime project"
      style="width: 100%"
    />
  </div>
  <div class="font" style="transform: translateZ(0px) translateY(0rem)">
    <h2>Crime project</h2>
  </div>
</div>

<!-- ZONE PAGE -->
<div id="zone-page">
  <main>
    <div class="zone1">
      <div class="container_1">
        <div class="bloc_droite">
          <img
            src="../../../assets/Images/fond.jpg"
            alt="Photo de profil de Thérèse"
          />
        </div>
        <div class="bloc_gauche">
          <div class="text">
            <h2>Thérèse</h2>
            <p>
              Plusieurs modèles de cuisines sont visibles dans notre magasin
              près de la Tour Eiffel. Vous avez le choix : modèles sur-mesure,
              insérés ou double face. Des designs modernes et soignés qui
              permettent une intégration harmonieuse à de nombreux intérieur et
              un maximum de confort et de bien-être.
            </p>
          </div>
        </div>
      </div>

      <div class="container_2">
        <div class="bloc_gauche">
          <img src="../../../assets/Images/fond.jpg" alt="salle de jeux" />
        </div>
        <div class="bloc_droite">
          <div class="text">
            <h2>SALLE DE JEUX</h2>
            <p>
              La salle qui vous assure un rendement de 90% de bonne humeur pour
              vos enfants. Le bar à disposition munis d'un thermostat permet de
              régler la température ambiante. Relié au réseau Wi-Fi, le foyer
              gaz nécessite l’installation d’un conduit d’évacuation ou d’un
              système de ventouse à travers le mur.
            </p>
          </div>
        </div>
      </div>

      <div class="container_3">
        <div class="bloc_droite">
          <img src="../../../assets/Images/fond.jpg" alt="Salle de bain" />
        </div>
        <div class="bloc_gauche">
          <div class="text">
            <h2 class="bloctitre soustitre_2" style="text-align: left">
              SALLE DE BAIN
            </h2>
            <p>
              Salle de bain est synonyme de confort, de douceur de vivre… Mais
              aussi de sécurité !
            </p>
            <p>
              Nos salles de bains sont en effet équipés de plusieurs dispositifs
              de sécurité et peuvent ainsi détecter immédiatement d’éventuels
              problèmes d'odeurs. Vous pouvez profiter en toute quiétude d’une
              chaleur naturelle et relaxante.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ZONE 2 -->
    <div class="zone2">
      <div class="container-zone2">
        <div>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
          <h2 class="bloctitre" style="text-align: center">A VENIR</h2>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">
            Vous avez un projet de rénovation dans votre maison ?
          </p>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">
            Notre &eacute;quipe est &agrave; votre disposition pour
            &eacute;tudier votre projet.&nbsp;
          </p>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
          <div class="centrer-bouton" style="text-align: center">
            <a class="bouton-contact" href="contact.html">Nous contacter</a
            >&nbsp; &nbsp; &nbsp; &nbsp;
            <a class="bouton-realisation" href="blog.html"
              >Voir nos r&eacute;alisations</a
            >
          </div>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
          <p style="text-align: center">&nbsp;</p>
        </div>
      </div>
    </div>
  </main>
</div>
