<h1>Welcome to Crime project !</h1>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile colspan="4" class="AU">
    <article>
      <h2>About us</h2>
      <p>
        Hello ! For this project, our team is composed of Thérèse and Corentin.
        We are two French students in master 1 in Cybersecurity department and
        we created an app about crimes in the United Kingdom.
      </p>
    </article>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" class="therese">
    <article>
      <h3>Let's talk about Thérèse !</h3>
      <p>
        Thérèse Fili is our back-end developper. Thanks to her, you can use without
        any problem the API used in this app.
      </p>
    </article>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="../../../assets/Images/fond.jpg"
      alt="Photo de profil de Thérèse"
      width="20%"
    />
  </mat-grid-tile>
  <mat-grid-tile>Corentin</mat-grid-tile>
  <mat-grid-tile>Corentin photo</mat-grid-tile>
  <mat-grid-tile colspan="2">About our project</mat-grid-tile>
  <mat-grid-tile colspan="2">About our project partie 2 (photo?)</mat-grid-tile>
  <mat-grid-tile colspan="2">Photo map</mat-grid-tile>
  <mat-grid-tile colspan="2">There is a map !</mat-grid-tile>
</mat-grid-list>
