<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile colspan="4">
    <h1>About us</h1>
    <article>
      <p>We are two French students</p>
    </article>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">Thérèse</mat-grid-tile>
  <mat-grid-tile>Thérèse photo</mat-grid-tile>
  <mat-grid-tile>Corentin</mat-grid-tile>
  <mat-grid-tile>Corentin photo</mat-grid-tile>
  <mat-grid-tile colspan="2">About our project</mat-grid-tile>
  <mat-grid-tile colspan="2">About our project partie 2 (photo?)</mat-grid-tile>
  <mat-grid-tile colspan="2">Photo map</mat-grid-tile>
  <mat-grid-tile colspan="2">There is a map !</mat-grid-tile>
</mat-grid-list>
